name: Push Docker Image
run-name: ${{github.actor}} trigger docker image build and push for BE

on:
  workflow_dispatch:

env:
  GO_VERSION: 1.25.5

jobs:
  Build-Push-Backend-Image:
    if: contains('["htchan"]', github.actor)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [backend-api, backend-worker]
      fail-fast: false
    timeout-minutes: 20
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
          driver-opts: |
            image=moby/buildkit:latest
            network=host
      - name: Log in Container Registry
        uses: docker/login-action@v3
        env:
          REGISTRY: ghcr.io
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/bake-action@v6
        env:
          BAKE_CI: true
          HASH: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}
          DOCKER_BUILDKIT: 1
          BUILDKIT_PROGRESS: plain
          GO_VERSION: ${{ env.GO_VERSION }}
        with:
          targets: ${{ matrix.target }}
          files: ./docker-bake.hcl
          set: |
            *.cache-from=type=local,src=/tmp/.buildx-cache
            *.cache-to=type=local,dest=/tmp/.buildx-cache-new,mode=max
